<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Visualizer</title>
    <link rel="stylesheet" href="/Project/assets/styles/exercises.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="visualcontainer">
            <div class="bars" id="bars-container">
                <div class="buttons">
                    <button id="stop">Stop</button>
                    <button id="start">Start</button>
                    <button id="pause">Pause</button>
                </div>
            </div>
            <div class="submit-container">
        
            </div>
        </div>

        <div class="nav-controls">
            <button class="arrow-button" id="back-arrow">
                <i class="fa fa-angle-left fa-2x"></i> 
            </button>
            <input type="text" id="input" placeholder="Answer">
            <button class="arrow-button" id="next-arrow">
                <i class="fa fa-angle-right fa-2x"></i>
            </button>
            <button id="submit">Submit</button>
        </div>
    </div>

    <div id="navbar-placeholder"></div>
    <script src="/Project/assets/js/base.js"></script>
    <script>
        loadNavbar();
    </script>
</body>
</html>
