<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Project/assets/styles/home.css">
</head>
<body>

<div class="navbar">
    <button onclick="showRegister('login')">Login</button>
    <button onclick="showRegister('signup')">Sign Up</button>
</div>

<div id="content">
    <h1>Visualize Sorting Algorithms in Real Time</h1>
    <p>Explore the power of algorithms with Sort Visualizer—your ultimate tool for understanding and comparing various sorting techniques.</p>
</div>

<script src="/Project/assets/js/home.js"></script>
</body>
</html>
