<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <title>Sorting Algorithms</title>
</head>
<body>
    <div id="cover">
        <div id="description-box">
            <h2 style="font-family: 'Nunito', sans-serif;"> 
                Sorting Algorithms
            </h2>
            <div class="description-content">
                <p>
                    A sorting algorithm is a set of instructions that rearranges a list of elements into a specific order, usually ascending or descending. This order is often numerical or alphabetical, but it can also be based on other criteria, such as date or custom comparisons.
                    <br>
                    Key Concepts:<br>
                    
                    Comparison-based sorting: These algorithms compare elements to determine their relative order. <p>Examples include:</p>
                    <p>Bubble Sort: Compares adjacent elements and swaps them if they are in the wrong order.</p>
                    <p>Insertion Sort: Inserts elements into their correct position in a sorted subarray.</p>
                    <p>Selection Sort: Finds the minimum element in the unsorted part and swaps it with the first unsorted element.</p>
                    <p>Merge Sort: Divides the list into two halves, recursively sorts each half, and then merges the sorted halves.</p>
                    <p>Quick Sort: Picks a pivot element, partitions the list into elements smaller and larger than the pivot, and recursively sorts the partitions.</p>
                </p>
            </div>
            <button class="sort-button" onclick="location.href='/sorts/Sort.html'">Start Sorting</button>
          
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content" style="margin-left:0;">
                <span class="footer-title" style="font-family: 'Nunito', sans-serif;">SORT VISUALIZER</span><br>
                &emsp;Jake Elopre<br>
                &emsp;Gemma Rose Genil<br>
                &emsp;Ram Gregor Montoya
            </div>
            <div class="footer-content">
                <span class="footer-title">Contacts:</span><br>
                &emsp;elopre<br>
                &emsp;genil<br>
                &emsp;montoya
            </div>
            
        </div>
    </footer>
    <div id="navbar-placeholder"></div>
    <script src="/assets/js/base.js"></script>
    <script>
        loadNavbar();
    </script>
</body>
</html>
