<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Project/assets/styles/login.css" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <title>Login and Sign Up</title>
</head>
<body>
    <div class="container" id="container">
        
        <div class="sign-up">
            <form>
                <h1>Sign Up</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" id="newUsername" required />
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Email" id="newEmail" required />
                    <i class="fa-solid fa-envelope"></i>
                </div>
                
                <div class="input-box">
                    <input type="password" placeholder="Password" id="newPassword" required minlength="4"/>
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirm Password" id="confirm" required />
                    <i class="fa-solid fa-lock"></i>
                </div>
                <button type="submit" id="signin">Sign Up</button>
            </form>
        </div>

        <div class="login">
            <a href="#" id="back-button" class="back-button">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <form>
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" id="getUsername" required />
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" id="getPassword" required />
                    <i class="fa-solid fa-lock"></i>
                </div>
                <span id="error-message" style="color: red;"></span>
                <div class="user-remember">      
                    <a href="#" id="forgot-password-link">Forgot Password?</a>
                </div>
                <button type="submit" id="getIn">Login</button>
            </form>
        </div>

        <div class="forgot-password">
            <form>
                <h1>Forgot Password</h1>
                <div class="input-box">
                    <input type="email" placeholder="Enter your email" required />
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <button type="submit">Reset Password</button>
                <a href="#" id="back-to-login">Back to Login</a>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome User!</h1>
                    <p>If you already have an account</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, User!</h1>
                    <p>If you don't have an account</p>
                    <button class="hidden" id="signup">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module"> // ayaw if external huhu
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
import { getDatabase, ref, set, get, child } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-database.js";

const firebaseConfig = {
    apiKey: "AIzaSyDVvkfslAMz95HfF0-5EIvq7ZZNmyIlsrM",
    authDomain: "algosortit.firebaseapp.com",
    databaseURL: "https://algosortit-default-rtdb.firebaseio.com",
    projectId: "algosortit",
    storageBucket: "algosortit.firebasestorage.app",
    messagingSenderId: "1029666460693",
    appId: "1:1029666460693:web:5161c3ac023a2c89eeea1c"
};

const app = initializeApp(firebaseConfig);
const db = getDatabase(app);

document.getElementById("signin").addEventListener("click", function(e) {
    e.preventDefault(); 
    const form = e.target.closest("form");
    if (!form.checkValidity()) {
        form.reportValidity(); 
        return; 
    }

    const username = document.getElementById("newUsername").value;
    const email = document.getElementById("newEmail").value;
    const password = document.getElementById("newPassword").value;
    const checker = document.getElementById("confirm").value;

    if (password != checker) {
        const alertDiv = document.createElement("div");
        alertDiv.textContent = "Passwords not matching.";
        alertDiv.style.position = "fixed";
        alertDiv.style.top = "10px";
        alertDiv.style.left = "50%";
        alertDiv.style.transform = "translateX(-50%)";
        alertDiv.style.padding = "10px 20px";
        alertDiv.style.backgroundColor = "red";
        alertDiv.style.color = "white";
        alertDiv.style.borderRadius = "5px";
        alertDiv.style.fontSize = "16px";
        alertDiv.style.zIndex = "1000";

        document.body.appendChild(alertDiv);

        setTimeout(function() { alertDiv.remove(); }, 1000);

        return;
    }

    const userRef = ref(db, 'user/' + username); // if username exists already
    get(userRef).then((snapshot) => {
        if (snapshot.exists()) {
            const alertDiv = document.createElement("div");
            alertDiv.textContent = "Username already exists.";
            alertDiv.style.position = "fixed";
            alertDiv.style.top = "10px";
            alertDiv.style.left = "50%";
            alertDiv.style.transform = "translateX(-50%)";
            alertDiv.style.padding = "10px 20px";
            alertDiv.style.backgroundColor = "orange";
            alertDiv.style.color = "white";
            alertDiv.style.borderRadius = "5px";
            alertDiv.style.fontSize = "16px";
            alertDiv.style.zIndex = "1000";

            document.body.appendChild(alertDiv);

            setTimeout(function() { alertDiv.remove(); }, 500);
        } 
        if (password.length >= 4 && !snapshot.exists()) { // creates
            set(userRef, {
                username: username,
                email: email,
                password: password
            });
            const successDiv = document.createElement("div");
            successDiv.textContent = "Account created successfully!";
            successDiv.style.position = "fixed";
            successDiv.style.top = "10px";
            successDiv.style.left = "50%";
            successDiv.style.transform = "translateX(-50%)";
            successDiv.style.padding = "10px 20px";
            successDiv.style.backgroundColor = "green";
            successDiv.style.color = "white";
            successDiv.style.borderRadius = "5px";
            successDiv.style.fontSize = "16px";
            successDiv.style.zIndex = "1000";
            document.body.appendChild(successDiv);

            setTimeout(function() { successDiv.remove(); }, 1000); 
            setTimeout(function() {
                const container = document.getElementById("container");
                container.classList.remove("active");
            }, 1700); 
        }
    }).catch((error) => {
        console.error("Error checking username: ", error);
    });
});


document.getElementById("getIn").addEventListener("click", function(e) { // log in here
    e.preventDefault();
    const username = document.getElementById("getUsername").value;
    const password = document.getElementById("getPassword").value;

    if (username == "" || password == "") {
        const successDiv = document.createElement("div");
        successDiv.textContent = "Please input Username and Password.";
        successDiv.style.position = "fixed";
        successDiv.style.top = "10px";
        successDiv.style.left = "50%";
        successDiv.style.transform = "translateX(-50%)";
        successDiv.style.padding = "10px 20px";
        successDiv.style.backgroundColor = "red";
        successDiv.style.color = "white";
        successDiv.style.borderRadius = "5px";
        successDiv.style.fontSize = "16px";
        successDiv.style.zIndex = "1000";

        document.body.appendChild(successDiv);
        setTimeout(function() { successDiv.remove(); }, 1000);
    }
    else {
        const userRef = ref(db, 'user/' + username);
        get(userRef).then((snapshot) => {
            if (snapshot.exists()) {
                const userData = snapshot.val();
                if (userData.username === username && userData.password === password) {
                    const successDiv = document.createElement("div");
                    successDiv.textContent = "Logging in ...";
                    successDiv.style.position = "fixed";
                    successDiv.style.top = "10px";
                    successDiv.style.left = "50%";
                    successDiv.style.transform = "translateX(-50%)";
                    successDiv.style.padding = "10px 20px";
                    successDiv.style.backgroundColor = "orange";
                    successDiv.style.color = "white";
                    successDiv.style.borderRadius = "5px";
                    successDiv.style.fontSize = "16px";
                    successDiv.style.zIndex = "1000";
    
                    document.body.appendChild(successDiv);
                    setTimeout(function() { successDiv.remove(); }, 350);
                    setTimeout(() => {
                        window.location.href = "index.html";
                    }, 500);
                } else {
                    const successDiv = document.createElement("div");
                    successDiv.textContent = "Wrong Username or Password.";
                    successDiv.style.position = "fixed";
                    successDiv.style.top = "10px";
                    successDiv.style.left = "50%";
                    successDiv.style.transform = "translateX(-50%)";
                    successDiv.style.padding = "10px 20px";
                    successDiv.style.backgroundColor = "red";
                    successDiv.style.color = "white";
                    successDiv.style.borderRadius = "5px";
                    successDiv.style.fontSize = "16px";
                    successDiv.style.zIndex = "1000";
    
                    document.body.appendChild(successDiv);
                    setTimeout(function() { successDiv.remove(); }, 1000);
                }
            } else {
                alert("User not found.");
            }
        }).catch((error) => {
            console.error("Error checking login credentials: ", error);
        });
    }
});

    </script>
    <script src="/Project/assets/js/login.js"></script>
</body>
</html>
