body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
    background-image: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    margin-top: 80px;
    width: 100%;
}

.visualcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 110%;
    justify-content: center;
    margin-left: 30px;
}


#bars-container {
    display: flex;
    align-items: flex-end;
    background: #d3d3d3;
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 8px;
    padding: 2px; 
    overflow-x: auto;
    gap: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #EBC5BD;
}

.buttons {
    display: flex;
    justify-content: center; 
    gap: 10px;
    width: 100%; 
    margin: 0 auto; 
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #6E605F;
    color: white;
}

#randomize, #stop, #start, #pause {
    background-color: gray;
    color: #ffffff
}

.submit-container {
   display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    background: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #EBC5BD;
}
#submit {
    padding: 10px 15px;
    width: 50%; 
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center; 
}

#submit:hover {
    background-color: #357ABD;
}

.nav-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    margin-left: -18rem; 
}

.arrow-button {
    font-size: 15px;
    color: #4A90E2;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
    outline: none;
    box-sizing: border-box;
}

.arrow-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
    border-color: #4A90E2;
}

#input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    height: 45px;
    width: 12rem;
}
