@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", serif;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 55vh;
}

h2 {
    margin-top: 50px;
    font-size: 1.8rem;
    color: #333;
}

.table-container {
    width: 95%;          
    max-width: 60rem;     
    padding: 30px;         
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #16425b;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 1.5rem;
    }

    .table-container {
        margin-top: 3rem;
        padding: 20px;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }
}

/* Tablet view (medium screens) */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    .table-container {
        margin-top: 4rem;
        padding: 25px;
    }

    table {
        font-size: 1rem;
    }

    th, td {
        padding: 9px;
    }
}

/* Desktop view (large screens) */
@media screen and (min-width: 1024px) {
    .table-container {
        margin-top: 5rem;
        width: 95%;
        max-width: 70rem;
        padding: 30px;
    }

    table {
        font-size: 1.1rem;
    }

    th, td {
        padding: 10px;
    }
}
