@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.sort-button {
    background: linear-gradient(0deg, rgba(235, 197, 189, 1) 0%, rgba(224, 188, 204, 1) 65%);
    color: black;
    border: none;
    border-radius: 35px;
    padding: 10px 10px; 
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;  
    margin-top: 10px;
}

#cover {
    font-family: 'Nunito', sans-serif;
    position: relative;
    width: 100%;
    padding-top: 10vh;
    min-height: 100vh;
    display: block;
    overflow: auto;
   
    word-wrap: normal;
}

#description-box {
    margin: auto;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 20px;
    max-width: 850px;
    position: relative;
}

p {
    display: block;
    margin-block-start: 1em;
}

#description-box button {
    background-color: #6E605F;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 60px;
    border-radius: 35px;
    font-size: 25px;
}

.footer {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: #F1F8F3;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: rgb(22, 22, 22);
    font-size: 20px;
    white-space: nowrap;
}

.footer-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center; 
    width: 70%; 
    gap: 10rem; 
}

.footer-content {
    float: left;
    margin-left: 6vw;
    margin-bottom: 15px;
    vertical-align: top;
    text-decoration: none;
}

.footer-title {
    color: #E0BCCC;
    font-size: 25px;
}


@media (max-width: 1024px) {
    #cover {
        padding-top: 8vh;
        min-height: 120vh;
    }

    #description-box {
        padding-right: 5vw;
        padding-left: 5vw;
        font-size: 20px;
    }

    #description-box button {
        width: 140px;
        height: 50px;
        font-size: 22px;
    }

    .footer-container {
        gap: 3rem;
    }

    .footer-title {
        font-size: 22px;
    }
}


@media (max-width: 768px) {
    #cover {
        padding-top: 10vh;
        min-height: 100vh;
    }

    #description-box {
        padding-right: 10vw;
        padding-left: 10vw;
        font-size: 18px;
    }

    #description-box button {
        width: 130px;
        height: 45px;
        font-size: 20px;
    }

    .footer-container {
        gap: 2rem;
        width: 80%;
    }

    .footer-title {
        font-size: 20px;
    }
}
@media only screen and (max-width: 820px) {
    .footer {
        font-size: 17px;
    }

    .footer-title {
        font-size: 20px;
    }

    .footer-content:first-child {
        margin-left: 30px !important;
    }
}
@media only screen and (min-height: 1081px) {
    #cover {
        min-height: 90vh;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    #cover {
        padding-top: 12vh;
        min-height: 90vh;
    }

    #description-box {
        padding-right: 12vw;
        padding-left: 12vw;
        font-size: 16px;
    }

    #description-box button {
        width: 120px;
        height: 40px;
        font-size: 18px;
    }

    .footer-container {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
    }

    .footer-title {
        font-size: 18px;
    }
}
