

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 120px;
    box-sizing: border-box;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 82.5rem;
    margin-left: 30px;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #EBC5BD;
    min-height: 100px; 
}

.control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

select,
input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.image-button img{
    width: 40px;
    height: 40px;
    transition: transform 0.2s; 
}


.image-button img:hover {
    transform: scale(1.1); 
}


.image-button:focus img {
    outline: 2px solid #6E605F; 
    border-radius: 4px; 
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #6E605F;
    color: white;
}

.button-container{
    border: 1px solid #333; 
    border-radius: 5px;  
    padding: 10px; 
}

.sortcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 110%;
    justify-content: center;
    margin-left: 30px;
}

.bars {
    display: flex;
    align-items: flex-end;
    background: #d3d3d3;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: 8px;
    padding: 12px; 
    gap: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #EBC5BD;
    box-sizing: border-box;
    justify-content: space-between;
}

.bar {
    background-color: #6E605F;
    flex: 1 5 calc((100% - (20 * 5px)) / 20); 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;   
    font-size: 12px;
    border-radius: 4px 4px 0 0;
    transition: height 0.3s;
    overflow: hidden;
    white-space: nowrap;
    max-height: 85%;
    min-height: 10px;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #EBC5BD;
    min-height: 100px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.submitted-data {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
}
.label-container {
    display: flex;
    align-items: center; 
    gap: 5px; 
    margin-bottom: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px; 
}


.tooltip .tooltip-text {
    visibility: hidden;
    width: 160px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px; 
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.tooltip img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}


@media screen and (max-width: 1200px) {
    .controls {
        margin-left: 10px;
        padding: 15px;
        width: 45rem;
        box-sizing: border-box;
        min-height: 100px;
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
    }

    .bars {
        height: 400px;
    }

    .bar {
        width: calc((100% / 20) - 5px); 
    }
}

@media only screen and (max-width: 1100px) {
    .sort-container {
        height: 50vh;
    }
}

@media screen and (max-width: 968px) {
    .controls {
        flex-direction: column;
        align-items: center;
        width: 35rem;
        margin-left: auto;
        margin-right: auto;
        min-height: 100px; 
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 85%; 
    }

    .bar {
        width: calc((100% / 15) - 5px);
    }

    .bars {
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-container {
        width: 100%;
        max-width: 400px; 
        padding: 10px;
        min-height: 100px; 
    }

    .submitted-data {
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .controls {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 35rem;
        max-width: 90%; 
        min-height: 100px; 
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 90%; 
    }

    .bar {
        width: calc((100% / 10) - 5px); 
    }

    .bars {
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-container {
        width: 100%;
        max-width: 400px;
        padding: 8px;
    }

    .submitted-data {
        padding: 6px;
    }
}

@media screen and (max-width: 480px) {
    .controls {
        padding: 8px;
        width: 50rem; 
        margin-left: auto;
        margin-right: auto;
        max-width: 90%; 
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 95%; 
    }

    .bar {
        width: calc((100% / 8) - 5px); 
    }

    .bars {
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-container {
        padding: 5px;
        width: 100%;
        max-width: 400px;
    }

    .submitted-data {
        padding: 5px;
    }
}

