

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    box-sizing: border-box;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1320px;
    margin-left: 30px;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #d9dcd6;
    min-height: 100px; 
}

.control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.dashboard {
    display: flex;
    background: #16425B;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 1320px;
    margin-left: 30px;
    margin-bottom: 20px;
    min-height: 150px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    text-align: center;
}

.dashboard h2 {
    margin-left: 20px;
    font-size: 4.0rem;
    color: white;
}

#user-name {
    color: white;
}


select,
input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

#array-size {
    -webkit-appearance: none;
    appearance: none;
    background: #16425B;
    width: 100%;
    margin: 10px 0;
    height: 10px; 
    outline: none;
    border-radius: 50px; 
}

#array-size::-webkit-slider-thumb {
    background-color: #007BFF;
    border-radius: 20%;
    cursor: pointer;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.image-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.image-button img{
    width: 50px;
    height: 50px;
    transition: transform 0.2s; 
}


.image-button img:hover {
    transform: scale(1.1); 
}


.image-button:focus img {
    outline: 2px solid #6E605F; 
    border-radius: 4px; 
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.button-container{
    height: 70px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px;  
    padding: 10px; 
}

.sortcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 110%;
    justify-content: center;
    margin-left: 30px;
}

.bars {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: 8px;
    padding: 12px; 
    gap: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #d9dcd6;
    box-sizing: border-box;
    justify-content: space-between;
}

.bar {
    background-color: #16425B;
    flex: 1 5 calc((100% - (20 * 5px)) / 20); 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;   
    font-size: 12px;
    border-radius: 4px 4px 0 0;
    transition: height 0.3s;
    overflow: hidden;
    white-space: nowrap;
    max-height: 85%;
    min-height: 10px;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background: #d9dcd6;
    min-height: 100px;
}
.input-container label{
    color: #16425B;
    font-weight: bold;
}

#submit{
    background: #16425B;
    font-weight: bold;
    font-size: 15px;
}

#submit:hover{
    background: #3a7ca5;

}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.submitted-data {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
}
.label-container {
    display: flex;
    align-items: center; 
    gap: 5px; 
    margin-bottom: 5px;
}

.label-container label {
    color: #16425B; 
    font-size: 20px; 
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px; 
}


.tooltip .tooltip-text {
    visibility: hidden;
    width: 160px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px; 
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.tooltip img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.compare-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #16425B;
    color: white;
    font-weight: bold;
}

.compare-button:hover {
    background-color: #3a7ca5;
}


@media screen and (max-width: 1200px) {
    .controls {
        margin-left: 10px;
        padding: 15px;
        width: 45rem;
        box-sizing: border-box;
        min-height: 100px;
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
    }

    .bars {
        height: 400px;
    }

    .bar {
        width: calc((100% / 20) - 5px); 
    }
}

@media only screen and (max-width: 1100px) {
    .sort-container {
        height: 50vh;
    }
}

@media screen and (max-width: 968px) {
    .controls {
        flex-direction: column;
        align-items: center;
        width: 35rem;
        margin-left: auto;
        margin-right: auto;
        min-height: 100px; 
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 85%; 
    }

    .bar {
        width: calc((100% / 15) - 5px);
    }

    .bars {
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-container {
        width: 100%;
        max-width: 400px; 
        padding: 10px;
        min-height: 100px; 
    }

    .submitted-data {
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .controls {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 35rem;
        max-width: 90%; 
        min-height: 100px; 
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 90%; 
    }

    .bar {
        width: calc((100% / 10) - 5px); 
    }

    .bars {
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-container {
        width: 100%;
        max-width: 400px;
        padding: 8px;
    }

    .submitted-data {
        padding: 6px;
    }
}

@media screen and (max-width: 480px) {
    .controls {
        padding: 8px;
        width: 50rem; 
        margin-left: auto;
        margin-right: auto;
        max-width: 90%; 
    }

    .sortcontainer {
        margin-left: auto;
        margin-right: auto;
        width: 95%; 
    }

    .bar {
        width: calc((100% / 8) - 5px); 
    }

    .bars {
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-container {
        padding: 5px;
        width: 100%;
        max-width: 400px;
    }

    .submitted-data {
        padding: 5px;
    }
}

