<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort History Data Table</title>
    <link rel="stylesheet" href="/assets/styles/history.css">
</head>
<body>

<h2>Sort History Data Table</h2>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Input Data</th>
                <th>Sort Algorithm</th>
                <th>Sorted Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>

<div id="navbar-placeholder"></div>
<script src="/base.js"></script>
<script>
    loadNavbar();
</script>

</body>
</html>
