<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort History Data Table</title>
    <link rel="stylesheet" href="/assets/styles/history.css">
</head>
<body>


<h2>Sort History Data Table</h2>

<div class="table-container">
    <table id="inputsTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Input</th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
    </table>
</div>

<div id="navbar-placeholder"></div>
<script src="/base.js"></script>
<script>
    loadNavbar();
</script>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-app.js";
    import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-database.js";

    const firebaseConfig = {
        apiKey: "AIzaSyDVvkfslAMz95HfF0-5EIvq7ZZNmyIlsrM",
        authDomain: "algosortit.firebaseapp.com",
        databaseURL: "https://algosortit-default-rtdb.firebaseio.com",
        projectId: "algosortit",
        storageBucket: "algosortit.firebasestorage.app",
        messagingSenderId: "1029666460693",
        appId: "1:1029666460693:web:5161c3ac023a2c89eeea1c"
    };

    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);

    const username = localStorage.getItem("username");
    const inputsRef = ref(database, `usernames/${username}/input`);

    onValue(inputsRef, (snapshot) => {
        const tableBody = document.getElementById("inputsTable").getElementsByTagName("tbody")[0];
        tableBody.innerHTML = "";  

        if (snapshot.exists()) {
            const inputsData = snapshot.val();

            for (const date in inputsData) {
                for (const time in inputsData[date]) {
                    const inputData = inputsData[date][time];

                    const newRow = tableBody.insertRow(); 

                    const dateCell = newRow.insertCell(0); 
                    dateCell.textContent = date;

                    const timeCell = newRow.insertCell(1); 
                    timeCell.textContent = time;

                    const inputCell = newRow.insertCell(2);
                    inputCell.textContent = inputData;  
                }
            }
        } else {
            
            const newRow = tableBody.insertRow();
            const noDataCell = newRow.insertCell(0);
            noDataCell.colSpan = 3;
            noDataCell.textContent = "No data available";
        }
    });
</script>

</body>
</html>