<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles/home.css">
</head>
<body>
<div id="content">
    <h1>Visualize Sorting <br> Algorithms <br>in Real Time</h1>
    <p>Explore the power of algorithms with Sort Visualizer—your ultimate tool for understanding and comparing various sorting techniques.</p>
</div>

<div class="start">
    <a href="/login"><button>Get Started</button></a>
</div>

<script src="/assets/js/home.js"></script>
</body>
</html>
