<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <title>Sorting Algorithms</title>
</head>
<body>
    <div id="cover">
        <div id="description-box">
            <h2 style="font-family: 'Nunito', sans-serif;"> 
                Sorting Algorithms
            </h2>
            <div class="description-content">
                <p>
                    A sorting algorithm is a set of instructions that rearranges a list of elements into a specific order, usually ascending or descending. This order is often numerical or alphabetical, but it can also be based on other criteria, such as date or custom comparisons.
                    <br>
                    
                </p>
            </div>
            <button class="sort-button" onclick="location.href='/sort'">Start Sorting</button>
          
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content" style="margin-left:0;">
                <span class="footer-title" style="font-family: 'Nunito', sans-serif;">SORT VISUALIZER</span><br>
                &emsp;Jake Elopre<br>
                &emsp;Gemma Rose Genil<br>
                &emsp;Ram Gregor Montoya
            </div>
            <div class="footer-content">
                <span class="footer-title">Contacts:</span><br>
                &emsp;22-04706@g.batstate-u.edu.ph<br>
                &emsp;genil<br>
                &emsp;montoya
            </div>
            
        </div>
    </footer>
    <div id="navbar-placeholder"></div>
    <script src="/base.js"></script>
    <script>
        loadNavbar();
    </script>
</body>
</html>
